:root{
    --text: #080609;
    --background: #f6f4f7;
    --primary: #877296;
    --secondary: #bea8b9;
    --accent: #a98b9c;
}

*{
    box-sizing: border-box;
    vertical-align: top;
}

body{
    font-family: 'Roboto', sans-serif;
    color: var(--text);
    background-color: var(--background);
    padding: 0;

    width: 90%;
    margin: auto;
}

h1{
    color: var(--primary);
}

h3{
    color: var(--text);
}

h4{
    color: var(--secondary);
}

nav{
    display: flex;
    justify-content: left;
    gap: 1rem;

    padding: 1rem;
    background-color: var(--secondary);
   
}

nav a{
    text-decoration: none;
    color: var(--text);
}

nav a:hover{
    color: var(--accent);
}

.year-section h2{
    background-color: var(--primary);
    color: var(--background);
    padding: 1rem;
}

.year-section{
    margin: 3rem 0;
}

.repo {
    border: 1px solid var(--primary);
    border-width: 0 0 1px 0;
    padding-bottom: 1.5em;
    margin: 1em 0;

    display: grid; 
    grid-template-columns: 10fr 1fr; 
    grid-template-rows: min-content min-content min-content; 
    gap: 0px 0px; 
    grid-template-areas: 
    "repoh3 repoimg"
    "repop repoimg"
    "repoa repoimg"; 
}
.repo img {
    grid-area: repoimg;

    float: right;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.repo a {
    grid-area: repoa;

    color: var(--primary);
    text-decoration: none;
    padding: 0.5em;
    border: 1px solid var(--primary);
    width: fit-content;
}
.repo h3 {
    grid-area: repoh3;

    margin: 0;
    padding: 0;
}
.repo p {
    grid-area: repop;

    margin: 0;
    padding: 0.5em 0 1.5em 0;
}